/*********************************/
/********** Typography ***********/
/*********************************/
h2 {
	@include font-type($CSReg, 32px, 34px, 0); 
	margin-bottom: 27px; max-width: 1200px; margin: 0 auto; 
}


/*********************************/
/*********** Buttons *************/
/*********************************/
.btn {
	color: #fff; font-size: 22px !important; font-family: $CSMed; letter-spacing: 0.4px !important; line-height: 32px !important;
	display: inline-block !important; padding: 0 15px !important; height: 38px !important; 
	border-radius: 20px;
}




/*********************************/
/******** Class Helpers **********/
/*********************************/
.icon {display: inline-block;}
.red-bg {background: $red-bg;}
.blue-bg {background: $blue-bg;}

.price {
	@include font-type($CSReg, 26px, 40px, 0.2px); color: #000;
	padding: 0 20px; height: 39px;
}



/*********************************/
/*********** Modules *************/
/*********************************/
//HEADER NAVIGATION - http://prntscr.com/gu0m9x
.nav {
	width: calc(100% - 222px);
	ul.menu-top {
		float: left;
		li {
			float: left; margin-right: 28px;
			&:last-child {margin-right: 0;}
			&.active {a {color: #000;}}

			a {
				@include font-type($CSMed, 18px, 22px, 0.2px); color: $red-text; text-transform: uppercase;
			}
		}
	}


	&-right {
		float: right; width: 102px; display: flex; align-items: center; justify-content: space-between;
		.language {
			@include font-type($CSBol, 18px, 28px, 0); color: $red-text; text-transform: uppercase;
			padding: 0 10px; position: relative; top: -3px;
			background: $grey-bg;
		}
		.search {
			margin-left: 32px;
		}
	}
}


//INTRO - http://prntscr.com/gu0mjj
.intro {
	position: relative; clear: both; max-width: 1200px; margin: 0 auto;

	&-contact {
		display: block; width: 410px; padding-top: 32px; padding-left: 15px; float: right; position: relative; right: 0; 

		i {
			position: absolute; left: -69px; top: 33px;
		}
		a {
			color: #fff;  @include font-type($CSReg, 28px, 47px, 0);
			display: block;
			&:nth-child(3) {padding-left: 5px;}
			&.btn {
				position: relative; margin-top: 18px; left: -12px;
			}
		}
	}

	&-text {

		clear: both; width: 790px; padding-left: 199px; padding-top: 79px; position: relative;
		& > * {position: relative; z-index: 2;}
		&:before {
			content: '';
			display: block; position: absolute; left: 36px; top: -112px; z-index: 1;  width: 818px; height: 365px;
			background: url(../img/cloud.png) no-repeat; 
		}

		figure {
			text-align: left;
			width: 370px; margin-bottom: 25px; display: inline-block;
			img {float: left; margin-right: 17px;}
			figcaption {
				@include font-type($CSReg, 32px, 30px, 0);
			}

			&:nth-child(2) {
				padding-left: 3px; margin-bottom: 0;
			}
		}

		p {@include font-type($CSReg, 32px, 42px, 0);}
	}

	&-about {

		padding-top: 96px; line-height: 75px; display: inline-block;

		li {
			color: #2fc7f3; @include font-type($CSReg, 44px, 48px, 0);
			position: relative; width: 330px;  float: left; display: inline-block;
			&:before {
				content: '';
				width: 11px; height: 71px; position: absolute;
				background: url(../img/points.png) no-repeat;  
			}
			&:first-child {
				&:before {
					right: 97px; top: -92px;
				}
			}
			&:nth-child(2) {
				width: 200px; margin-right: 80px; margin-left: 59px; 
				&:before {
					right: 121px; top: -92px;
				}
			}
			&:last-child {
				margin-right: 0; width: 370px;
				&:before {
					left: 36px; top: -92px;
				}
			}
		}
		
	}

}

.offer {
	display: flex; justify-content: space-between;
	position: relative; max-width: 1200px; margin: 0 auto; position: relative; left: -3px;

	article {
		width: 35%;
		h3 {
			@include font-type($CSReg, 22px, 28px, 0); text-transform: uppercase;
		} 

		p {
			@include font-type($CSReg, 22px, 33px, 0); margin-bottom: 8px;
		}

		.buy {
			display: flex;
			margin-top: 51px;

			.price {
				margin-right: 14px;
			}
		}
	}

	& > article {
		.buy {
			margin-top: 35px;

			.price {
				background: #9bfade; padding: 0 27px;
			}
		}
		
	}

	&-right {

		width: 63.3%;

		.article-wrapp {
			display: flex; justify-content: space-between;
			& > article {
				width: 50%; float: left;
				&:last-child {
					padding-left: 22px;
				}
			}
		}
		

		& > span {
			@include font-type($CSReg, 22px, 24px, 0); color: #000;
			display: block; margin-top: 47px; position: relative; left: -5px;

			.price {
				background: #ffffb2; padding: 0 10px;
			}
		}
	}
}

.about {
	display: flex; justify-content: space-between;
	max-width: 1360px; 

	&-block {
		background: #f2f2f2; margin-right: 20px; width: calc(50% - 10px); padding: 23px 54px;
		&:last-child {
			margin-right: 0; padding-left: 38px;
		}

		h3 {
			font-size: 32px; 
			margin-bottom: 23px;
		}

		p, ol, ul {
			font-size: 22px;
		}

		p {
			line-height: 32px;
			margin-bottom: 19px;
		}

		ol {
			line-height: 34px;
			list-style-type: decimal; margin-left: 42px;

			li {
				margin-bottom: 17px;
			}
		}

		ul {
			margin-top: 19px;
			li {
				line-height: 32px; margin-bottom: 20px;
				position: relative; padding-left: 39px;
				&:before {
					content: '\2014';
					position: absolute; left: 10px;
				}
			}
		}
	}
}

.order {
	max-width: 1200px; margin: 0 auto;

	h3 {
		color: #21bcf0; @include font-type($GPMed, 44px, 24px, 0);
		font-family: $GPMed;
		padding-left: 65px;
		.strong {
			@include font-type($GPBla, 44px, 24px, 0); color: #21bcf0;
		}

		span {
			color: #1b5d96; 

		}
		a {
			color: #0073e5;
		}
	}
}
