/*********************************/
/********** Typography ***********/
/*********************************/
h2 {
	@include font-type($CSReg, 32px, 34px, 0); 
	margin-bottom: 27px; max-width: 1200px; margin: 0 auto; 
}


/*********************************/
/*********** Buttons *************/
/*********************************/
.btn {
	color: #fff; font-size: 22px; font-family: $CSMed; letter-spacing: 0.4px !important; line-height: 32px !important;
	display: inline-block !important; padding: 0 15px !important; height: 38px !important; 
	border-radius: 20px;
}




/*********************************/
/******** Class Helpers **********/
/*********************************/
.icon {display: inline-block;}
.red-bg {background: $red-bg;}
.blue-bg {background: $blue-bg;}

.price {
	@include font-type($CSReg, 26px, 40px, 0.2px); color: #000;
	padding: 0 20px; height: 39px;
}

.ov-hidden {
	overflow: hidden;
}



/*********************************/
/*********** Modules *************/
/*********************************/
//HEADER NAVIGATION - http://prntscr.com/gu0m9x
.nav {
	width: calc(100% - 222px);
	a.burger {
		display: none; float: right;
		width: 30px; height: 30px; padding-top: 5px;
		@include respond-to(md) {
			display: block; z-index: 9999; position: relative; margin-left: 48px;
		}
		span {
			width: 26px; height: 4px;display: block; margin: 0 auto 4px;
			background: #ff1919;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&.active {
			span {
				&:nth-child(2) {
					display: none;
				}
				&:first-child {
					position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%) rotate(45deg);
				}
				&:last-child {
					position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%) rotate(-45deg);
				}
			}
		}
	}
	ul.menu-top {
		float: left; margin-bottom: 0;
		@include respond-to(md) {
			position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 9990; transform: translateX(-100%); padding-top: 77px;
			background: #ffffff;
			transition: .4s ease-out;
		}
		&.active {
			transform: translateX(0);
		}
		li {
			float: left; margin-right: 28px;
			&:last-child {margin-right: 0;}
			&.active {a {color: #000;}}
			@include respond-to(md) {
				text-align: center;
				float: none; display: block; margin: 0 0 15px;
			}

			a {
				@include font-type($CSMed, 18px, 22px, 0.2px); color: $red-text; text-transform: uppercase;
				@include respond-to(md) {
					font-size: 22px; line-height: 24px;
				}
			}
		}
	}


	&-right {
		float: right; width: 102px; display: flex; align-items: center; justify-content: space-between; position: relative; z-index: 9999;
		@include respond-to(md) {
			width: auto;
		}
		.language {
			@include font-type($CSBol, 18px, 28px, 0); color: $red-text; text-transform: uppercase;
			padding: 0 10px; position: relative; top: -3px;
			background: $grey-bg;
			@include respond-to(md) {
				display: none;
			}
		}
		.search {
			margin-left: 32px;
		}
	}
}


//INTRO - http://prntscr.com/gu0mjj
.intro {
	position: relative; clear: both; max-width: 1200px; margin: 0 auto;

	&-contact {
		display: block; width: 410px; padding-top: 29px; padding-left: 15px; float: right; position: relative; right: 0;  z-index: 2;
		@include respond-to(md) {
			float: none; padding: 4px 20px 0; display: flex; flex-wrap: wrap;
		}
		i {
			position: absolute; left: -69px; top: 33px;
			@include respond-to(lg) {
				display: none;
			}
		}
		a {
			color: #fff;  @include font-type($CSReg, 28px, 47px, 0);
			display: block;
			@include respond-to(md) {
				font-size: 26px; line-height: 30px;
				margin-bottom: 11px;
			}

			&:nth-child(3) {
				@include respond-to(md) {
					order: 2;
				}
			}
			&:nth-child(2) {
				@include respond-to(md) {
					order: 3;
				}
			}
			&:nth-child(4) {
				@include respond-to(md) {
					order: 4;
				}
			}

			&:nth-child(3) {padding-left: 5px;}
			&.btn {
				position: relative; margin-top: 18px; left: -12px;
				@include respond-to(md) {
					margin-top: 5px;
					background: #1a5c95;
				}
			}
		}
	}

	&-text {

		clear: both; width: 790px; padding-left: 199px; padding-top: 79px; position: relative;
		@include respond-to(lg) {
			padding-top: 125px;
		}
		@include respond-to(md) {
			width: 460px; padding-left: 7px; margin: 0 auto; padding-top: 65px;
		}
		& > * {position: relative; z-index: 2;}
		&:before {
			content: '';
			display: block; position: absolute; left: 36px; top: -112px; z-index: 1;  width: 818px; height: 365px;
			background: url(../img/cloud.png) center center no-repeat;
			@include respond-to(lg) {
				top: -50px;
			}
			@include respond-to(md) {
				width: 645px; height: 399px; left: calc(50% - 38px); transform: translateX(-50%);
				background: url(../img/cloud_mob.png) center center no-repeat;
			}
		}
		&:after {
			content: '';
			display: block; position: absolute; left: -82px; top: -162px; z-index: 1;  width: 997px; height: 468px;
			background: url(../img/cloud_2.png) center center no-repeat; 
			@include respond-to(lg) {
				display: none;
			}
		}

		figure {
			text-align: left;
			width: 370px; margin-bottom: 25px; display: inline-block;
			@include respond-to(md) {
				width: auto; margin-bottom: 0; display: block;
			}
			img {
				float: left; margin-right: 17px;
				@include respond-to(md) {
					float: none; margin-right: 0; display: inline-block; width: 428px;
				}
			}
			figcaption {
				@include font-type($CSReg, 32px, 30px, 0);
				@include respond-to(md) {
					font-size: 26px; line-height: 28px;
					display: inline-block; vertical-align: bottom;
				}
			}

			&:nth-child(2) {
				padding-left: 3px; margin-bottom: 0;
			}

			&.webr {
				@include respond-to(md) {
					margin-bottom: 21px;
					img {
						width: 202px;
					}
				}
			}
		}

		p {
			@include font-type($CSReg, 32px, 42px, 0);
			@include respond-to(md) {
				font-size: 26px; line-height: 32px;
				display: block;
			}
			br {
				@include respond-to(md) {
					display: none;
				}
			}
		}
	}

	&-about {

		padding-top: 96px; line-height: 75px; display: inline-block;
		@include respond-to(lg) {
			display: flex; justify-content: space-between;
		}
		@include respond-to(md) {
			position: relative; z-index: 1; padding: 100px 15px 0;
		}

		li {
			color: #2fc7f3; @include font-type($CSReg, 44px, 48px, 0);
			position: relative; width: 330px;  float: left; display: inline-block;
			@include respond-to(lg) {
				font-size: 36px; line-height: 38px;
				width: 30% !important;
			}
			@include respond-to(md) {
				font-size: 32px; line-height: 34px;
			}
			@include respond-to(sm) {
				font-size: 26px; line-height: 28px;
			}
			&:before {
				content: '';
				width: 11px; height: 71px; position: absolute;
				background: url(../img/points.png) no-repeat;
			}
			&:first-child {
				&:before {
					right: 97px; top: -92px;
					@include respond-to(md) {
						right: 20%;transform: translateX(-50%);
					}
				}
			}
			&:nth-child(2) {
				width: 200px; margin-right: 80px; margin-left: 59px; 
				@include respond-to(md) {
					margin-right: 0; margin-left: 0;
				}
				&:before {
					right: 121px; top: -92px;
					@include respond-to(md) {
						right: 50%;transform: translateX(-50%);
					}
				}
			}
			&:last-child {
				margin-right: 0; width: 370px;
				&:before {
					left: 36px; top: -92px;
					@include respond-to(md) {
						left: 20%;transform: translateX(-50%);
					}
				}
			}
		}
		
	}

}

.offer {
	display: flex; justify-content: space-between;
	position: relative; max-width: 1200px; margin: 0 auto; position: relative; left: -3px;
	@include respond-to(md) {
		flex-wrap: wrap;
	}

	article {
		width: 33.33333%;
		@include respond-to(md) {
			width: 100%; margin-bottom: 61px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		h3 {
			@include font-type($CSReg, 22px, 28px, 0); text-transform: uppercase;
			@include respond-to(md) {
				margin-top: 13px; margin-bottom: 12px;
			}
		} 

		p {
			@include font-type($CSReg, 22px, 33px, 0); margin-bottom: 8px;
			@include respond-to(md) {
				line-height: 32px; margin-bottom: 10px;
			}
			br {
				@include respond-to(md) {
					display: none;
				}
			}
		}

		.buy {
			display: flex;
			margin-top: 51px;
			@include respond-to(md) {
				margin-top: 28px;
			}

			.price {
				margin-right: 14px;
			}
		}
	}

	& > article {
		.buy {
			margin-top: 35px;
			@include respond-to(md) {
				margin-top: 28px;
			}

			.price {
				background: #9bfade; padding: 0 27px;
			}
		}
		
	}

	&-right {

		width: 66.66667%;
		@include respond-to(md) {
			width: 100%;
		}

		.article-wrapp {
			display: flex; justify-content: space-between;
			@include respond-to(md) {
				flex-wrap: wrap;
			}
			& > article {
				width: 50%; float: left;
				@include respond-to(md) {
					float: none; width: 100%;
				}
				&:last-child {
					padding-left: 22px;
					@include respond-to(md) {
						padding-left: 0;
					}
				}
			}
		}
		

		& > span {
			@include font-type($CSReg, 22px, 24px, 0); color: #000;
			display: block; margin-top: 47px; position: relative; left: -5px;
			@include respond-to(md) {
				line-height: 26px;
				left: 0; width: 360px; margin-top: 26px;
			}

			.price {
				background: #ffffb2; padding: 0 10px;
				@include respond-to(md) {
					font-size: 22px; line-height: 26px;
					background: transparent; padding: 0;
				}
			}
		}
	}
}

.about {
	display: flex; justify-content: space-between;
	max-width: 1360px; margin: 0 auto;
	@include respond-to(sm) {
		flex-wrap: wrap;
	}

	&-block {
		background: #f2f2f2; margin-right: 20px; width: calc(50% - 10px); padding: 23px 54px;
		@include respond-to(sm) {
			width: auto; margin: 0 -15px; padding: 23px 37px;
		}
		&:last-child {
			margin-right: 0; padding-left: 38px;
		}

		h3 {
			font-size: 32px; 
			margin-bottom: 23px;
		}

		p, ol, ul {
			font-size: 22px;
		}

		p {
			line-height: 32px;
			margin-bottom: 19px;
		}

		ol {
			line-height: 34px;
			list-style-type: decimal; margin-left: 42px;

			li {
				margin-bottom: 17px;
			}
		}

		ul {
			margin-top: 19px;
			li {
				line-height: 32px; margin-bottom: 20px;
				position: relative; padding-left: 39px;
				&:before {
					content: '\2014';
					position: absolute; left: 10px;
				}
			}
		}
	}
}

.order {
	max-width: 1200px; margin: 0 auto;

	h3 {
		color: #21bcf0; @include font-type($GPMed, 44px, 52px, 0);
		font-family: $GPMed;
		padding-left: 65px; margin-bottom: 61px;
		@include respond-to (sm) {
			padding-left: 48px;
		}
		.strong {
			@include font-type($GPBla, 44px, 24px, 0); color: #21bcf0;
		}

		span {
			color: #1b5d96; 

		}
		a {
			color: #0073e5; border-bottom: 2px dashed #0073e5;
			a:hover {
				border: none;
			}
		}
	}

	&-content {
		display: flex; justify-content: space-between;
		figure {
			margin-left: 34px; position: relative; top: -4px;
			@include respond-to (sm) {
				display: none;
			}
		}
		article {
			padding-left: 48px;
			p {
				@include font-type($CSReg, 22px, 34px, 0);
				@include respond-to (sm) {
					font-size: 26px;
				}
			}
			ul {
				list-style-type: disc; font-size: 18px;
				padding-left: 20px;

				li {
					margin-bottom: 8px;
				}
			}

			h4 {
				@include font-type($CSReg, 32px, 36px, 0); margin-top: 44px;
			}

			.btn-gr {
				margin-top: 62px; position: relative; left: -20px;
				& > span {
					color: #ff3333; font-size: 18px; letter-spacing: 0.2px;
					display: inline-block; margin-bottom: 35px;
					@include respond-to (sm) {
						width: 50%; float: left;
					}
						a.btn {
							margin-right: 8px; 
							br {
								display: none;
								@include respond-to (sm) {
									display: block;
								}
							}
							@include respond-to (sm) {
								display: block; margin-bottom: 10px;
							}
							
						}
						a.blue-bg {
						background: #30c8f9;
						border-radius: 20px;
						@include respond-to (sm)  {float: right; display:block; width: 50%;}
					}

				}
			}
		}
	}
}

.social {
	max-width: 1200px; margin: 0 auto;
	font-size: 24px; 
	span {
		float: left; display: inline-block; margin-right: 15px; padding-top: 7px;
		@include respond-to (xs) {
			margin-bottom: 20px; display: block;
		}
	}
	ul {
		float: left;
		li {
			float: left; margin-right: 10px;
			a {
				text-align: center;
				width: 40px; height: 40px; position: relative; display: block;
				border-radius: 50%; 

				&.facebook {background: #1f489a;}
				&.vk {background: #4c77ac}
				&.twitter {background: #03a8e2;}
				&.google {background: #e44233;}
				i {
					color: #fff; position: relative; top: 7px;
				}
			}
		}
	}
}

.seemore {
	h2 {margin-bottom: 49px;}
	ul {
		@include respond-to (sm) {
			display: flex; justify-content: space-around;
			@media (max-width: 639px) {display: block;} 
		}
		li {
			position: relative; display: inline-block; width: 300px; margin-right: 39px; height: 300px; float: left;
			@include respond-to (lg) {margin-right: 10px;}
			@include respond-to (sm)  {
				margin-right: 15px;
			}
			@media (max-width: 639px) {
				display: block; width: 300px; float: none; margin: 0 auto; margin-bottom: 15px;
				
			} 
			&:nth-child(2) {
				@include respond-to (sm) {
					margin-right: 0;
				}
				@media (max-width: 639px) {margin-right: auto;}
				
			}

			&:last-child {
				@include respond-to (md) {
					display: none;
				}
			}
			figure {
				img {
					position: absolute; left: 0; top: 0; z-index: 1;
				}
				figcaption {
					display: flex; flex-direction: column; height: 300px; justify-content: flex-end;
					position: relative; z-index: 2; padding-bottom: 13px;
					a {
						color: #fff; @include font-type($CSReg, 24px, 36px, 0); text-align: center;
						display: block; width: 100%;
					}
				}
			}

			
		}
	}
}

.footer {
	display: flex; justify-content: space-between; align-items: center;
	max-width: 1350px; margin: 0 auto;
	@include respond-to (lg) {
		display: inline-block; padding: 10px 0;
	}

	small {
		@include font-type($CSReg, 18px, 22px, 0); color: #fff;
		@include respond-to (lg) {
			font-size: 22px; line-height: 32px;
			float: left; width: 50%;
		}
		@media (max-width: 639px) {width: 100%; float: none;}
	}

	& > a.btn {
		display: flex !important; align-items: center; 

		font-size: 18px !important;
		@include respond-to (lg) {
			float: right;
			margin-top: 37px;
		}
		@media (max-width: 639px) {float: left;}
		i {
			margin-left: 10px; 
		}

	}

	ul.contact {
		@include respond-to (lg) {
			clear: both; display: block; padding-top: 30px;
		}
		li {
			float: left; margin-right: 10px;
			@include respond-to (lg) {
				margin-right: 50px;
			}
			@media (max-width: 639px) {
				float: none; margin: 15px 0;
			}
			&:last-child {
				margin-right: 0;
				@media  (max-width: 639px) {margin-bottom: 0;}
			}
			a {
				color: #ff1919; @include font-type($CSMed, 18px, 22px, 0); text-transform: uppercase;
			}
			

		}
	
		
	}
}
