/***********************/
/******** Colors *******/
/***********************/
$red-color: #ff1919;

$link-color: #4489ff;
$btn-color: #4489ff; 

$blue-bg: #b5edfd;


/***********************/
/******** Fonts ********/
/***********************/

//GothamPro
$GPBla: 'GothaProBla', sans-serif; 
$GPBol: 'GothaProBol', sans-serif;
$GPMed: 'gothapromed', sans-serif;

//ClearSans
$CSBol: 'ClearSans-Bold', sans-serif;
$CSMed: 'ClearSans-Medium', sans-serif;
$CSReg: 'ClearSans-Regular', sans-serif;