/***********************/
/******** Colors *******/
/***********************/
$red-color: #ff1919;

$link-color: #4489ff;
$btn-color: #4489ff; 


/***********************/
/******** Fonts ********/
/***********************/

//GothamPro
$GPBla: 'GothaProBla'; 
$GPBol: 'GothaProBol';
$GPMed: 'GothaProMed:';

//ClearSans
$CSBol: 'ClearSans-Bold';
$CSMed: 'ClearSans-Medium';
$CSReg: 'ClearSans-Regular';