/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-bitrix {
  background-image: url(../img/sprite.png);
  background-position: -257px -155px;
  width: 29px;
  height: 28px;
}
.icon-call {
  background-image: url(../img/sprite.png);
  background-position: -63px -201px;
  width: 53px;
  height: 53px;
}
.icon-cloud {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 210px;
  height: 201px;
}
.icon-instruments {
  background-image: url(../img/sprite.png);
  background-position: -165px -201px;
  width: 42px;
  height: 40px;
}
.icon-lamp {
  background-image: url(../img/sprite.png);
  background-position: -210px -84px;
  width: 64px;
  height: 71px;
}
.icon-like {
  background-image: url(../img/sprite.png);
  background-position: -116px -201px;
  width: 49px;
  height: 49px;
}
.icon-mail {
  background-image: url(../img/sprite.png);
  background-position: -207px -201px;
  width: 48px;
  height: 30px;
}
.icon-phone {
  background-image: url(../img/sprite.png);
  background-position: -210px 0px;
  width: 83px;
  height: 84px;
}
.icon-serch {
  background-image: url(../img/sprite.png);
  background-position: -255px -201px;
  width: 25px;
  height: 25px;
}
.icon-time {
  background-image: url(../img/sprite.png);
  background-position: 0px -201px;
  width: 63px;
  height: 69px;
}
.icon-wifi {
  background-image: url(../img/sprite.png);
  background-position: -210px -155px;
  width: 47px;
  height: 36px;
}
